@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --main-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --tint: hsla(277, 90%, 20%, 0.6);
  --primary: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-heading: hsla(0, 0%, 100%, 0.6);
}

html {
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--main-bg);
  color: white;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 70px;
}

.component {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1080px;
}

.img__component {
  position: relative;
}

.img__component img {
  display: block;
  border-radius: 0 10px 10px 0;
  width: 100%;
}

.tint {
  width: 100%;
  height: 100%;
  background-color: var(--tint);
  position: absolute;
  z-index: 1;
  border-radius: 0 10px 10px 0;
}

.stats__component {
  padding: 0 120px 0 80px;
  background-color: var(--card-bg);
  border-radius: 10px 0 0 10px;
}

.component__title {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  margin-top: 80px;
  margin-bottom: 30px;
}

.component__title > span {
  color: var(--accent);
}

.component__descr {
  color: var(--main-paragraph);
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  margin-bottom: 60px;
  line-height: 1.5rem;
  letter-spacing: 0.7px;
}

.component__stats--flex {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.stats__number {
  font-size: 1.8rem;
}

.stats__caption {
  margin-top: 5px;
  text-transform: uppercase;
  color: var(--stat-heading);
  font-size: 0.6rem;
  letter-spacing: 1px;
  font-family: "Lexend Deca", sans-serif;
}

/* @media (max-width: 1150px) {
  .component {
    flex-direction: column-reverse;
  }
} */
